input {
width: 80px;
border: 1px solid #DDDDDD;
border-radius: 5px;
padding: 5px;
outline:0px;
}
select {
width: 90px;
border: 1px solid #DDDDDD;
border-radius: 5px;
padding: 5px;
}
input.stringIn {
width: 90px;
}
.button {
background: #f3f3f3;
border: 1px solid #ddd;
padding: 2px 4px;
border-radius: 5px;
margin: 3px;
color: #333;
display:inline-block;
}
.material-icons{
font-size:18px;
}
.button:hover {
background: #FF9966;
border-color: #A0715A;
}
fieldset {
border: 1px solid #DDDDDD;
padding: 5px;
}
legend {
padding: 7px;
font-weight: bold;
color: #FF5400;
}