html { font-family: Arial; font-size:0.8em; }
* { outline:none; }
h1 {padding:10px; margin:0px; text-align:center;}
a {color:#333;}
input { width: 150px; border: 1px solid rgba(0, 0, 0, 0.3); padding: 5px; outline:0px; }
select { width: 162px; border: 1px solid rgba(0, 0, 0, 0.3); padding: 5px; }
button {cursor: pointer; background: rgba(0, 0, 0, 0.06); border:0px; border-bottom: 2px solid rgba(0, 0, 0, 0.3); padding: 6px 10px; margin: 3px; display:inline-block; font-weight:bold; }
button span { display: inline-block; height: 18px; vertical-align: bottom; padding-top: 3px; }
.material-icons { font-size:18px; }
fieldset { border: 1px solid rgba(0, 0, 0, 0.3); padding: 5px 15px; }
legend { padding: 7px; font-weight: bold; }
form span.label { display: inline-block; width: 100px; text-align: left; }
form button { width: 162px; }
.label {display:block; font-weight:bold; padding: 5px;}

.specialText, h1, legend {font-family: monospace;}
html { background-color:white; color:#222;}
/*Theme 1*/
.highlight, .highlightOver:hover, h1 {background:#3f51b5; color:#fff;}
.highlightText, legend {color:#3f51b5;}
.highlightBordered, .selected {border: 3px solid #3f51b5;}
/*Theme 2*/
.highlightSub, .highlightSubOver:hover, button:hover {background:rgb(255, 169, 63); color:#222;}

body { width:800px; margin:0px auto;}

#menu_bg { top:0px; height:100%; left:0px; width:100%; text-align:center;}
#menu_wrapper { margin: 0px auto;}
#menu_wrapper .menu { padding: 0px; margin: 0px;}
#menu_wrapper .menu_button { padding: 16px; text-align: center; font-weight: bold; text-decoration: none; display:block; width: 100%; margin: 5px 0px;}
#menu_title { position:relative; font-weight: bold; border-bottom: 3px solid rgba(0, 0, 0, 0.17); color:#fff;}
#menu_title h1 { font-size: 12pt; padding: 16px;}
#menu_close { position: absolute; right: 7px; top: 7px; width: 30px; height: 24px; border: 0px; background: none; color: inherit; font-weight: bold; font-size: 15px; padding: 0px; }
#menu_back { position: absolute; left: 7px; top: 7px; width: 30px; height: 24px; border: 0px; background: none; color: inherit; font-weight: bold; font-size: 15px; padding: 0px; }
#menu_wrapper .menu_button i.material-icons { float: left;}
#menu_wrapper .rightPanel { display:inline-block; width:50%; height: 420px; overflow-y: auto;}
#menu_wrapper .leftPanel { display:inline-block; width:50%; height: 420px; overflow-y: auto;}

/** Game **/
.profilecolor{ display:inline-block; width:60px; height:30px; background-color:red; margin: 10px;}

/** Controls menu **/
#controls { padding: 22px 40px;}
#controls table { border-collapse: collapse; margin: 0px auto; width:100%; }
#controls table td { text-align:left; padding:5px; }
#controls .control_key.editable:hover { background: rgb(255, 116, 116); color: rgb(89, 0, 0); border-color: rgb(89, 0, 0); cursor: pointer; }
#controls .control_key.add:hover { background: rgb(116, 255, 116); color: rgb(0, 89, 0); border-color: rgb(0, 89, 0); cursor: pointer; }
#controls .control_key { background: rgb(255, 255, 255); display: inline-block; padding: 8px 12px; border: 1px solid rgb(171, 171, 171); border-radius: 5px; margin: 2px; font-weight:normal; }

#enterkey { position:absolute; top:0px; left:0px; right:0px; bottom:0px; background: rgba(0, 0, 0, 0.80); color: white; padding-top: 170px; }

/** SingleRace menu **/
.GameInputSelection { display:inline-block; margin: auto;}
.GameInputSelection .content { display:inline-block; width:200px; height:100px; vertical-align: top;}
.GameInputSelection .navigate { height: 100px;}
.leveljson{ resize:none; width:170px; height:60px; }

/** Profile menu **/
.colorSelectionItem { width: 20px; height: 20px; display: inline-block; margin: 4px; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 24px; }
.colorSelectionItem.selected { border-radius: 0px; width: 32px; border: 1px solid rgba(0, 0, 0, 0.1);}
.colorSelectionItem:hover { border-radius: 0px;}
.colorSelection{ width: 300px; padding: 5px; display: inline-block; margin: 10px;}

#gamewrapper { position: relative;}

/** Game result (podium) **/
.gameResult { width: 500px; margin: 0px auto; 	border-collapse: collapse; }
.gameResultRow{ background: rgba(158, 158, 158, 0.1); padding:5px; margin: 10px 0px; text-align: left; }
.gameResultRow .name{ width:200px; display:inline-block; padding: 5px; }
.gameResultRow .position{ width:20px; display:inline-block; text-align: right; padding: 5px; }
.gameResultRow .image{ width:150px; display:inline-block; }

.topplayers { position: relative; height: 300px; width: 500px; }
.topplayer { width: 150px; position: absolute; }
.podium { position: absolute; width: 150px; color: #00000069; font-weight: bold; padding-top: 20px; border-top: 6px solid #00000024; }
.podium1 { bottom: 0px; left: 175px; height: 120px; font-size: 60pt; 	background:gold; }
.podium2 { bottom: 0px; left: 0px; height: 90px; font-size: 40pt; 	background:silver; }
.podium3 { bottom: 0px; right: 0px; height: 80px; font-size: 30pt; 	background:#dc9797; }

.playerP1 { bottom: 150px; left: 175px; }
.playerP2 { bottom: 120px; left: 0px; }

.playerP3 { right: 0px; bottom: 110px; }
.topplayer .name { font-weight: bold; font-size: 17px;padding: 9px; font-family: monospace; }

.topplayer.currentuser .name,.gameResultRow.currentuser { background:#3F51B5; color:white; }


